WcfAssignment1.Client/Connected Services/WcfService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55473/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55473/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55473/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_IsPrimeNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPrimeNumber" />
  </wsdl:message>
  <wsdl:message name="IService_IsPrimeNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPrimeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SumDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:SumDigits" />
  </wsdl:message>
  <wsdl:message name="IService_SumDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseString" />
  </wsdl:message>
  <wsdl:message name="IService_ReverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MakeHtmlTag_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeHtmlTag" />
  </wsdl:message>
  <wsdl:message name="IService_MakeHtmlTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeHtmlTagResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Sort_InputMessage">
    <wsdl:part name="parameters" element="tns:Sort" />
  </wsdl:message>
  <wsdl:message name="IService_Sort_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="IsPrimeNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsPrimeNumber" message="tns:IService_IsPrimeNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsPrimeNumberResponse" message="tns:IService_IsPrimeNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SumDigits" message="tns:IService_SumDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SumDigitsResponse" message="tns:IService_SumDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReverseString" message="tns:IService_ReverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReverseStringResponse" message="tns:IService_ReverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeHtmlTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MakeHtmlTag" message="tns:IService_MakeHtmlTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MakeHtmlTagResponse" message="tns:IService_MakeHtmlTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sort">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Sort" message="tns:IService_Sort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SortResponse" message="tns:IService_Sort_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsPrimeNumber">
      <soap:operation soapAction="http://tempuri.org/IService/IsPrimeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumDigits">
      <soap:operation soapAction="http://tempuri.org/IService/SumDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap:operation soapAction="http://tempuri.org/IService/ReverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeHtmlTag">
      <soap:operation soapAction="http://tempuri.org/IService/MakeHtmlTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sort">
      <soap:operation soapAction="http://tempuri.org/IService/Sort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:55473/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>